{% extends 'layout.html' %}

{% block content %}
  <a href="#" id="LoginWithAmazon">
  <img border="0" alt="Login with Amazon"
    src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
    width="156" height="32" />
</a>

<script type="text/javascript">

  document.getElementById('LoginWithAmazon').onclick = function() {
    options = { scope : 'profile', popup:true };
    amazon.Login.authorize(options, 'https://wonder-amazon.ngrok.io/auth');
    return false;
  };

</script>
{% endblock %}
